<style>
	td{
		padding-left: 10;
		padding-right: 10;
	}
</style>

<a href="/fullreport">Both</a>
<a href="/Sonia">Sonia only</a>
<a href="/Priya">Priya only</a>
<br>

<% @passHash.each do |name, balance| %>
	<table border = "1">
		<tr>Account:<%= name %> &emsp; Balance: $<%= balance[:total].round(2) %></tr>
		<tr>
			<td>Category</td>
			<td>Amount</td>
			<td>Average per transaction</td>
		</tr>
	<% balance[:category].each do |category, t| %>
		<tr>
			<td><%= category %></td>	
			<td><%= t[:tally].round(2) %></td>
			<td><%= t[:avg_transaction].round(2) %></td>
		</tr>
	<% end %>
	</table>
	<br>
<% end %>




















