<style>

td{
	padding-left: 10;
	padding-right: 10;
}
div{
	float:right;
}
h1{
	text-align: center;
}
table{
	border-color: blue;
	}
#table{
	color:red;
	float:left;
	padding: 20;
}
</style>

<h1>Report</h1>

<div>
	<p>Search</p>
	<form>
		<input type = "text" name = "whoWeWant">
		<input type =  "submit">
	</form><br>
</div>




<a href="/fullreport">Both</a>
<a href="/fullreport?whoWeWant=Priya">Priya only</a>
<a href="/fullreport?whoWeWant=Sonia">Sonia only</a>

<br>

<% @passHash.each do |name, balance| %>
	<div id = "table">
	<table border = "1">
		<tr>Account:<%= name %> &emsp; Balance: $<%= balance[:total].round(2) %></tr>
		<tr>
			<td>Category</td>
			<td>Amount</td>
			<td>Average per transaction</td>
		</tr>
	<% balance[:category].each do |category, t| %>
		<tr>
			<td><%= category %></td>	
			<td><%= t[:tally].round(2) %></td>
			<td><%= t[:avg_transaction].round(2) %></td>
		</tr>
	<% end %>
	</table>
	</div>
	<br>
<% end %>




















